

@import './variables.scss';

@mixin border($round: bottom, $color: $borderColor, $origin: content-box) {
  background: {
    repeat: no-repeat;
    position: $round;
    origin: $origin;
  }
  @if ($round == top or $round == bottom) {
    background-size: 100% 1px;
    @if ($round == top) {
      background-image: linear-gradient(180deg, $color, $color 50%, transparent 0);
    }
    @if ($round == bottom) {
      background-image: linear-gradient(0, $color, $color 50%, transparent 0);
    }
  } @else if ($round == right or $round == left) {
    background-size: 1px 100%;
    @if ($round == right) {
      background-image: linear-gradient(270deg, $color, $color 50%, transparent 0);
    }
    @if ($round == left) {
      background-image: linear-gradient(90deg, $color, $color 50%, transparent 0);
    }
  }
}
